<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h3 style="text-align: center">Welcome to Register Page</h3>
<div style="text-align: center">
    {{ form.name.label }}
    <br>
    {{ form.name }}
    <br>
    <hr>
    {{form.email.label}}
    <br>
    {{form.email}}
    <br>
    <hr>
    {{form.password.label}}
    <br>
    {{form.password}}
    <br>
    <hr>
    {{form.confirm_password.label}}
    <br>
    {{form.confirm_password}}
    <br>
    <hr>
    {{form.confirm}}
    <br>
</div>
</body>
</html>